.rr-switch {
  height: 1em;
  display: flex;
  align-items: center;
}

.rr-switch.disabled {
  opacity: 0.5;
}

.label {
  margin: 0 8px;
}

.rr-switch input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.rr-switch label {
  width: 2em;
  height: 1em;
  position: relative;
  cursor: pointer;
  display: block;
}

.rr-switch.disabled label {
  cursor: not-allowed;
}

.rr-switch label:before {
  content: '';
  position: absolute;
  width: 2em;
  height: 1em;
  left: 0.1em;
  transition: background 0.1s ease;
  background: var(--sand-11);
  border-radius: 50px;
}

.rr-switch label:after {
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50px;
  left: 0;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  background: #fcfff4;
  animation: switch-off 0.2s ease-out;
  z-index: 2;
}

.rr-switch input[type='checkbox']:checked + label:before {
  background: var(--sand-12);
}

.rr-switch input[type='checkbox']:checked + label:after {
  animation: switch-on 0.2s ease-out;
  left: 1.1em;
}